.slick-slider {
  width: 90%; /* Adjust the width of the slider */

  padding: 10px 10px;
}
.slider-auto {
  display: flex;
  justify-content: center;
}

.slick-slide {
  text-align: center;
}

.slick-slide img {
  width: 100%; /* Make the images fill the slide container */
  border-radius: 8px; /* Add border-radius for rounded corners */
}

/* Styling for the text below the images */
.slick-slide p {
  margin-top: 10px; /* Adjust the spacing between image and text */
  color: #333; /* Set the text color */
  font-size: 16px; /* Set the font size */
}
/* iPhone breakpoint */
@media only screen and (max-width: 768px) {
  .slick-slider {
    height: 14vh;
  }
  .slick-slide img {
    width: 90%;

    height: auto;
    margin-left: 1rem;
  }
}
